/* VARIABLES */
:root {
    --color: #360fc2;
    --blur: 0px;
    --spacing: 1rem;
    --labelColor:rgb(51, 51, 165);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

.title {
    color: var(--color);
    font-size: 3rem;
}

.effects__image {
    width: 50rem;
    padding: var(--spacing);
    background-color: var(--color);
    filter: blur(var(--blur));
    margin-top: 1rem;
}
.variables__label{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--labelColor);
}