/* VARIABLES */
:root{
    --color:#000000;
    --blur:0px;
    --spacing:1rem;
}
body{
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
 color:var(--base-color)  
}

.effects__image {
 width: 50rem; 
 padding:var(--spacing);
background-color:var(--color);
filter:blur(var(--blur));
margin-top:1rem;
}